.div-container {
    max-width: 1440px;
    margin: 0 auto 0 auto;
}

.item-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.shop-image-item {
    position: relative;
    margin: 64px 32px;
    width: 50%;
}

.item-image {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}

.detail-item {
    width: 50%;
    margin: 64px 32px;
    max-width: 400px;
    transition: opacity 0.4s;
}

.footer-button {
    position: absolute;
    width: 100%;
    color: white;
    background-color: darkblue;
    height: 70px;
    font-size: 15px;
}

@media screen and (min-width:768px) {
    .footer-button {
        visibility: hidden;
    }
}

@media screen and (max-width:768px) {
    .shop-button {
        visibility: hidden;
    }
    .shop-image-item {
        position: relative;
        margin: 64px 32px;
        width: 100%;
    }
    .detail-item {
        width: 70%;
        margin: 64px 32px;
        max-width: 800px;
        transition: opacity 0.4s;
    }
    .shop-select>[prefix] {
        position: absolute;
        line-height: 15px;
        color: black;
        pointer-events: none;
        top: -14px;
    }
}

h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0px 0px 0px 0px;
}

.price {
    margin: 16px 0 40px;
    font-size: 16px;
    color: grey;
}

.options-to-select {
    display: block;
    flex-direction: column;
    border-top: solid 1px #ccc;
}

.shop-select {
    display: inline-block;
    position: relative;
    width: 100%;
}

.shop-select>[prefix] {
    position: absolute;
    line-height: 15px;
    color: black;
    pointer-events: none;
}

label {
    cursor: default;
}

#sizeLabel,
#quantityLabel {
    color: grey;
    padding-top: 6%;
}

.shop-select>select {
    width: 100%;
    font-size: 16px;
    padding: 16px 24px 16px 70px;
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 0px;
    font-weight: 300;
    overflow: hidden;
    margin: 0;
    outline: none;
}

.shop-select>.shop-md-decorator {
    display: block;
    border-top: 1px solid #ccc;
    height: 1px;
}

.shop-select>.shop-md-decorator>.shop-underline {
    display: block;
    background-color: var(--app-accent-color);
    height: 2px;
    position: relative;
    top: -1px;
    width: 100%;
    margin: auto;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
}

.description {
    margin: 32px 0;
}

h2 {
    display: block;
    font-weight: bold;
}

.description>h2,
#desc,
.font-small {
    margin: 16px 0;
    font-size: 13px;
    color: grey;
}

.shop-button {
    display: inline-block;
}

.shop-button[responsive] {
    height: 64px;
    z-index: 1;
}

.shop-button .button-shop-click {
    display: inline-block;
    box-sizing: border-box;
    border: 0.5px solid black;
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    color: black;
    padding: 8px 44px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
}

.button-shop-click {
    align-items: flex-start;
}